
notebooks/.ipynb_checkpoints/matrix-vector-ops-numpy-checkpoint.ipynb
.ipynb_checkpoints/IRIS-checkpoint.md
.ipynb_checkpoints/random-checkpoint.md
notebooks/.ipynb_checkpoints/mpl_primer-checkpoint.ipynb
notebooks/.ipynb_checkpoints/NumpyIntro_Homework_091619-checkpoint.ipynb
notebooks/.ipynb_checkpoints/random_sample_generation-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
notebooks/.ipynb_checkpoints/iris_classification-checkpoint.ipynb
.ipynb_checkpoints/reparametrisation_trick-checkpoint.ipynb
notebooks/.ipynb_checkpoints/probability_primer_exercise-checkpoint.ipynb
notebooks/.ipynb_checkpoints/sklearn_datasets-checkpoint.ipynb
ieml.pdf
notebooks/.Rhistory
notebooks/NumpyIntro_Homework_091619_files/NumpyIntro_Homework_091619_7_1.png
notebooks/NumpyIntro_Homework_091619_files/NumpyIntro_Homework_091619_9_0.png
notebooks/NumpyIntro_Homework_091619_files/NumpyIntro_Homework_091619_23_1.png
notebooks/NumpyIntro_Homework_091619_files/NumpyIntro_Homework_091619_32_1.png
notebooks/NumpyIntro_Homework_091619_files/NumpyIntro_Homework_091619_33_1.png
notebooks/iris_classification_files/iris_classification_10_1.png
notebooks/iris_classification_files/iris_classification_14_1.png
notebooks/iris_classification_files/iris_classification_20_1.png
notebooks/iris_classification_files/iris_classification_27_1.png
notebooks/iris_classification_files/iris_classification_35_1.png
notebooks/iris_classification_files/iris_classification_56_1.png
notebooks/mpl_primer_files/mpl_primer_4_1.png
notebooks/mpl_primer_files/mpl_primer_6_1.png
notebooks/mpl_primer_files/mpl_primer_9_1.png
notebooks/mpl_primer_files/mpl_primer_13_0.png
notebooks/mpl_primer_files/mpl_primer_14_1.png
notebooks/mpl_primer_files/mpl_primer_15_0.png
notebooks/mpl_primer_files/mpl_primer_20_1.png
notebooks/mpl_primer_files/mpl_primer_29_1.png
notebooks/mpl_primer_files/mpl_primer_30_1.png
notebooks/mpl_primer_files/mpl_primer_32_1.png
notebooks/mpl_primer_files/mpl_primer_33_0.png
notebooks/mpl_primer_files/mpl_primer_34_1.png
notebooks/mpl_primer_files/mpl_primer_35_0.png
notebooks/mpl_primer_files/mpl_primer_36_1.png
notebooks/mpl_primer_files/mpl_primer_37_1.png
notebooks/mpl_primer_files/mpl_primer_41_1.png
notebooks/mpl_primer_files/mpl_primer_42_1.png
notebooks/mpl_primer_files/mpl_primer_45_0.png
notebooks/mpl_primer_files/mpl_primer_46_0.png
notebooks/mpl_primer_files/mpl_primer_50_1.png
notebooks/mpl_primer_files/mpl_primer_51_0.png
notebooks/sklearn_datasets_files/sklearn_datasets_6_0.png
notebooks/sklearn_datasets_files/sklearn_datasets_8_0.png
notebooks/sklearn_datasets_files/sklearn_datasets_9_0.png
pdfbook/docs/iris_classification.rst
pdfbook/docs/make.bat
pdfbook/docs/Makefile.imsi
pdfbook/docs/matrix-vector-ops-numpy.rst
pdfbook/docs/mpl_primer.rst
pdfbook/docs/NumpyIntro_Homework_091619.rst
pdfbook/docs/probability_primer_exercise.rst
pdfbook/docs/random_sample_generation.rst
pdfbook/docs/sklearn_datasets.rst
pdfbook/docs/Untitled.rst
pdfbook/docs/NumpyIntro_Homework_091619_files/NumpyIntro_Homework_091619_7_1.png
pdfbook/docs/NumpyIntro_Homework_091619_files/NumpyIntro_Homework_091619_9_0.png
pdfbook/docs/NumpyIntro_Homework_091619_files/NumpyIntro_Homework_091619_23_1.png
pdfbook/docs/NumpyIntro_Homework_091619_files/NumpyIntro_Homework_091619_32_1.png
pdfbook/docs/NumpyIntro_Homework_091619_files/NumpyIntro_Homework_091619_33_1.png
pdfbook/docs/_build/doctrees/environment.pickle
pdfbook/docs/_build/doctrees/index.doctree
pdfbook/docs/_build/doctrees/iris_classification.doctree
pdfbook/docs/_build/doctrees/matrix-vector-ops-numpy.doctree
pdfbook/docs/_build/doctrees/mpl_primer.doctree
pdfbook/docs/_build/doctrees/mpl.doctree
pdfbook/docs/_build/doctrees/NumpyIntro_Homework_091619.doctree
pdfbook/docs/_build/doctrees/probability_primer_exercise.doctree
pdfbook/docs/_build/doctrees/random_sample_generation.doctree
pdfbook/docs/_build/doctrees/sklearn_datasets.doctree
pdfbook/docs/_build/doctrees/Untitled.doctree
pdfbook/docs/_build/html/.buildinfo
pdfbook/docs/_build/html/genindex.html
pdfbook/docs/_build/html/index.html
pdfbook/docs/_build/html/mpl.html
pdfbook/docs/_build/html/objects.inv
pdfbook/docs/_build/html/search.html
pdfbook/docs/_build/html/searchindex.js
pdfbook/docs/_build/html/_images/mpl_4_1.png
pdfbook/docs/_build/html/_images/mpl_6_1.png
pdfbook/docs/_build/html/_images/mpl_9_1.png
pdfbook/docs/_build/html/_images/mpl_13_0.png
pdfbook/docs/_build/html/_images/mpl_14_1.png
pdfbook/docs/_build/html/_images/mpl_15_0.png
pdfbook/docs/_build/html/_images/mpl_20_1.png
pdfbook/docs/_build/html/_images/mpl_29_1.png
pdfbook/docs/_build/html/_images/mpl_30_1.png
pdfbook/docs/_build/html/_images/mpl_32_1.png
pdfbook/docs/_build/html/_images/mpl_33_0.png
pdfbook/docs/_build/html/_images/mpl_34_1.png
pdfbook/docs/_build/html/_images/mpl_35_0.png
pdfbook/docs/_build/html/_images/mpl_36_1.png
pdfbook/docs/_build/html/_images/mpl_37_1.png
pdfbook/docs/_build/html/_images/mpl_41_1.png
pdfbook/docs/_build/html/_images/mpl_42_1.png
pdfbook/docs/_build/html/_images/mpl_45_0.png
pdfbook/docs/_build/html/_images/mpl_46_0.png
pdfbook/docs/_build/html/_images/mpl_50_1.png
pdfbook/docs/_build/html/_images/mpl_51_0.png
pdfbook/docs/_build/html/_sources/index.rst.txt
pdfbook/docs/_build/html/_sources/mpl.rst.txt
pdfbook/docs/_build/html/_static/alabaster.css
pdfbook/docs/_build/html/_static/basic.css
pdfbook/docs/_build/html/_static/custom.css
pdfbook/docs/_build/html/_static/doctools.js
pdfbook/docs/_build/html/_static/documentation_options.js
pdfbook/docs/_build/html/_static/file.png
pdfbook/docs/_build/html/_static/jquery-3.4.1.js
pdfbook/docs/_build/html/_static/jquery.js
pdfbook/docs/_build/html/_static/language_data.js
pdfbook/docs/_build/html/_static/minus.png
pdfbook/docs/_build/html/_static/plus.png
pdfbook/docs/_build/html/_static/pygments.css
pdfbook/docs/_build/html/_static/searchtools.js
pdfbook/docs/_build/html/_static/underscore-1.3.1.js
pdfbook/docs/_build/html/_static/underscore.js
pdfbook/docs/_build/latex/footnotehyper-sphinx.sty
pdfbook/docs/_build/latex/ieml.aux
pdfbook/docs/_build/latex/ieml.fdb_latexmk
pdfbook/docs/_build/latex/ieml.fls
pdfbook/docs/_build/latex/ieml.idx
pdfbook/docs/_build/latex/ieml.ilg
pdfbook/docs/_build/latex/ieml.ind
pdfbook/docs/_build/latex/ieml.log
pdfbook/docs/_build/latex/ieml.out
pdfbook/docs/_build/latex/ieml.pdf
pdfbook/docs/_build/latex/ieml.tex
pdfbook/docs/_build/latex/ieml.toc
pdfbook/docs/_build/latex/iris_classification_10_1.png
pdfbook/docs/_build/latex/iris_classification_14_1.png
pdfbook/docs/_build/latex/iris_classification_20_1.png
pdfbook/docs/_build/latex/iris_classification_27_1.png
pdfbook/docs/_build/latex/iris_classification_35_1.png
pdfbook/docs/_build/latex/iris_classification_56_1.png
pdfbook/docs/_build/latex/latexmkjarc
pdfbook/docs/_build/latex/latexmkrc
pdfbook/docs/_build/latex/LatinRules.xdy
pdfbook/docs/_build/latex/LICRcyr2utf8.xdy
pdfbook/docs/_build/latex/LICRlatin2utf8.xdy
pdfbook/docs/_build/latex/make.bat
pdfbook/docs/_build/latex/Makefile
pdfbook/docs/_build/latex/matrix-vector-ops-numpy_79_2.png
pdfbook/docs/_build/latex/matrix-vector-ops-numpy_81_0.png
pdfbook/docs/_build/latex/matrix-vector-ops-numpy_83_0.png
pdfbook/docs/_build/latex/matrix-vector-ops-numpy_94_1.png
pdfbook/docs/_build/latex/matrix-vector-ops-numpy_96_1.png
pdfbook/docs/_build/latex/matrix-vector-ops-numpy_99_0.png
pdfbook/docs/_build/latex/mpl_4_1.png
pdfbook/docs/_build/latex/mpl_6_1.png
pdfbook/docs/_build/latex/mpl_9_1.png
pdfbook/docs/_build/latex/mpl_13_0.png
pdfbook/docs/_build/latex/mpl_14_1.png
pdfbook/docs/_build/latex/mpl_15_0.png
pdfbook/docs/_build/latex/mpl_20_1.png
pdfbook/docs/_build/latex/mpl_29_1.png
pdfbook/docs/_build/latex/mpl_30_1.png
pdfbook/docs/_build/latex/mpl_32_1.png
pdfbook/docs/_build/latex/mpl_33_0.png
pdfbook/docs/_build/latex/mpl_34_1.png
pdfbook/docs/_build/latex/mpl_35_0.png
pdfbook/docs/_build/latex/mpl_36_1.png
pdfbook/docs/_build/latex/mpl_37_1.png
pdfbook/docs/_build/latex/mpl_41_1.png
pdfbook/docs/_build/latex/mpl_42_1.png
pdfbook/docs/_build/latex/mpl_45_0.png
pdfbook/docs/_build/latex/mpl_46_0.png
pdfbook/docs/_build/latex/mpl_50_1.png
pdfbook/docs/_build/latex/mpl_51_0.png
pdfbook/docs/_build/latex/mpl_primer_4_1.png
pdfbook/docs/_build/latex/mpl_primer_6_1.png
pdfbook/docs/_build/latex/mpl_primer_9_1.png
pdfbook/docs/_build/latex/mpl_primer_13_0.png
pdfbook/docs/_build/latex/mpl_primer_14_1.png
pdfbook/docs/_build/latex/mpl_primer_15_0.png
pdfbook/docs/_build/latex/mpl_primer_20_1.png
pdfbook/docs/_build/latex/mpl_primer_29_1.png
pdfbook/docs/_build/latex/mpl_primer_30_1.png
pdfbook/docs/_build/latex/mpl_primer_32_1.png
pdfbook/docs/_build/latex/mpl_primer_33_0.png
pdfbook/docs/_build/latex/mpl_primer_34_1.png
pdfbook/docs/_build/latex/mpl_primer_35_0.png
pdfbook/docs/_build/latex/mpl_primer_36_1.png
pdfbook/docs/_build/latex/mpl_primer_37_1.png
pdfbook/docs/_build/latex/mpl_primer_41_1.png
pdfbook/docs/_build/latex/mpl_primer_42_1.png
pdfbook/docs/_build/latex/mpl_primer_45_0.png
pdfbook/docs/_build/latex/mpl_primer_46_0.png
pdfbook/docs/_build/latex/mpl_primer_50_1.png
pdfbook/docs/_build/latex/mpl_primer_51_0.png
pdfbook/docs/_build/latex/NumpyIntro_Homework_091619_7_1.png
pdfbook/docs/_build/latex/NumpyIntro_Homework_091619_9_0.png
pdfbook/docs/_build/latex/NumpyIntro_Homework_091619_23_1.png
pdfbook/docs/_build/latex/NumpyIntro_Homework_091619_32_1.png
pdfbook/docs/_build/latex/NumpyIntro_Homework_091619_33_1.png
pdfbook/docs/_build/latex/python.ist
pdfbook/docs/_build/latex/random_sample_generation_8_0.png
pdfbook/docs/_build/latex/random_sample_generation_13_1.png
pdfbook/docs/_build/latex/random_sample_generation_17_1.png
pdfbook/docs/_build/latex/random_sample_generation_19_0.png
pdfbook/docs/_build/latex/random_sample_generation_22_0.png
pdfbook/docs/_build/latex/random_sample_generation_27_1.png
pdfbook/docs/_build/latex/random_sample_generation_28_1.png
pdfbook/docs/_build/latex/random_sample_generation_30_1.png
pdfbook/docs/_build/latex/random_sample_generation_33_1.png
pdfbook/docs/_build/latex/random_sample_generation_34_1.png
pdfbook/docs/_build/latex/random_sample_generation_37_1.png
pdfbook/docs/_build/latex/random_sample_generation_39_0.png
pdfbook/docs/_build/latex/random_sample_generation_43_0.png
pdfbook/docs/_build/latex/random_sample_generation_46_0.png
pdfbook/docs/_build/latex/random_sample_generation_47_1.png
pdfbook/docs/_build/latex/random_sample_generation_50_0.png
pdfbook/docs/_build/latex/random_sample_generation_51_1.png
pdfbook/docs/_build/latex/random_sample_generation_54_1.png
pdfbook/docs/_build/latex/random_sample_generation_60_1.png
pdfbook/docs/_build/latex/random_sample_generation_64_1.png
pdfbook/docs/_build/latex/random_sample_generation_69_0.png
pdfbook/docs/_build/latex/random_sample_generation_72_0.png
pdfbook/docs/_build/latex/random_sample_generation_73_1.png
pdfbook/docs/_build/latex/sklearn_datasets_6_0.png
pdfbook/docs/_build/latex/sklearn_datasets_8_0.png
pdfbook/docs/_build/latex/sklearn_datasets_9_0.png
pdfbook/docs/_build/latex/sphinx.sty
pdfbook/docs/_build/latex/sphinx.xdy
pdfbook/docs/_build/latex/sphinxcyrillic.sty
pdfbook/docs/_build/latex/sphinxhighlight.sty
pdfbook/docs/_build/latex/sphinxhowto.cls
pdfbook/docs/_build/latex/sphinxmanual.cls
pdfbook/docs/_build/latex/sphinxmessages.sty
pdfbook/docs/_build/latex/sphinxmulticell.sty
pdfbook/docs/iris_classification_files/iris_classification_10_1.png
pdfbook/docs/iris_classification_files/iris_classification_14_1.png
pdfbook/docs/iris_classification_files/iris_classification_20_1.png
pdfbook/docs/iris_classification_files/iris_classification_27_1.png
pdfbook/docs/iris_classification_files/iris_classification_35_1.png
pdfbook/docs/iris_classification_files/iris_classification_56_1.png
pdfbook/docs/matrix-vector-ops-numpy_files/matrix-vector-ops-numpy_79_2.png
pdfbook/docs/matrix-vector-ops-numpy_files/matrix-vector-ops-numpy_81_0.png
pdfbook/docs/matrix-vector-ops-numpy_files/matrix-vector-ops-numpy_83_0.png
pdfbook/docs/matrix-vector-ops-numpy_files/matrix-vector-ops-numpy_94_1.png
pdfbook/docs/matrix-vector-ops-numpy_files/matrix-vector-ops-numpy_96_1.png
pdfbook/docs/matrix-vector-ops-numpy_files/matrix-vector-ops-numpy_99_0.png
pdfbook/docs/mpl_primer_files/mpl_primer_4_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_6_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_9_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_13_0.png
pdfbook/docs/mpl_primer_files/mpl_primer_14_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_15_0.png
pdfbook/docs/mpl_primer_files/mpl_primer_20_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_29_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_30_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_32_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_33_0.png
pdfbook/docs/mpl_primer_files/mpl_primer_34_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_35_0.png
pdfbook/docs/mpl_primer_files/mpl_primer_36_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_37_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_41_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_42_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_45_0.png
pdfbook/docs/mpl_primer_files/mpl_primer_46_0.png
pdfbook/docs/mpl_primer_files/mpl_primer_50_1.png
pdfbook/docs/mpl_primer_files/mpl_primer_51_0.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_8_0.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_13_1.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_17_1.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_19_0.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_22_0.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_27_1.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_28_1.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_30_1.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_33_1.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_34_1.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_37_1.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_39_0.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_43_0.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_46_0.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_47_1.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_50_0.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_51_1.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_54_1.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_60_1.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_64_1.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_69_0.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_72_0.png
pdfbook/docs/random_sample_generation_files/random_sample_generation_73_1.png
pdfbook/docs/sklearn_datasets_files/sklearn_datasets_6_0.png
pdfbook/docs/sklearn_datasets_files/sklearn_datasets_8_0.png
pdfbook/docs/sklearn_datasets_files/sklearn_datasets_9_0.png
