
notebooks/.ipynb_checkpoints/matrix-vector-ops-numpy-checkpoint.ipynb
.ipynb_checkpoints/IRIS-checkpoint.md
.ipynb_checkpoints/random-checkpoint.md
notebooks/.ipynb_checkpoints/mpl_primer-checkpoint.ipynb
