
notebooks/.ipynb_checkpoints/matrix-vector-ops-numpy-checkpoint.ipynb
.ipynb_checkpoints/IRIS-checkpoint.md
.ipynb_checkpoints/random-checkpoint.md
notebooks/.ipynb_checkpoints/mpl_primer-checkpoint.ipynb
notebooks/.ipynb_checkpoints/NumpyIntro_Homework_091619-checkpoint.ipynb
notebooks/.ipynb_checkpoints/random_sample_generation-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
notebooks/.ipynb_checkpoints/iris_classification-checkpoint.ipynb
.ipynb_checkpoints/reparametrisation_trick-checkpoint.ipynb
notebooks/.ipynb_checkpoints/probability_primer_exercise-checkpoint.ipynb
notebooks/.ipynb_checkpoints/sklearn_datasets-checkpoint.ipynb
